<div class="float-button" id="float">
    <i class="fa fa-plus" aria-hidden="true"></i>
</div>
<div class="float-button" id="show">
    <i id="show-btn" class="fa fa-eye" aria-hidden="true"></i>
</div>