<div class="sort-menu">
  <ul class="sort-menu-nav">
    <li><a class="{{#if catactive.featured}}category-active{{/if}}" href="/"><i class="fa fa-star" aria-hidden="true"></i><span>Featured</span></a></li>
    <li><a class="{{#if catactive.all}}category-active{{/if}} " href="#"><i class="fa fa-list" aria-hidden="true"></i><span>All</span></a></li>
    <li><a class="{{#if catactive.new}}category-active{{/if}} " href="#"><i class="fa fa-file-text" aria-hidden="true"></i><span>New</span></a></li>
    <li><a class="{{#if catactive.best}}category-active{{/if}} " href="#"><i class="fa fa-fire" aria-hidden="true"></i><span>Best</span></a></li>
    <li><a class="{{#if catactive.deals}}category-active{{/if}} " href="/deals"><i class="fa fa-heart" aria-hidden="true"></i><span>Deals</span></a></li>
  </ul>
</div>
