<div class="main-content">
    {{>sidebar}}
    <div class="primary about-content">
        <div class="thumbnail-round"><img src="img/thumb.png" alt="profile"></div>
        <div style="display: block">

        </div>
        <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime itaque quia eum ipsum nobis distinctio officiis, quae cumque eius eos molestiae quis fuga saepe aliquid voluptatum laborum odit repudiandae atque delectus incidunt in? Modi eum explicabo alias qui numquam veritatis odio non laboriosam voluptate fugit molestias iusto aut dolorem sunt rem enim quaerat minima obcaecati, aliquam similique dolore id ad? Voluptas rerum exercitationem, omnis dolores corporis porro natus doloribus optio fugiat consectetur dolorem vel. Nulla provident excepturi illo, nisi quam facilis eius suscipit similique, quisquam dolor molestias ipsum pariatur hic, corporis nobis. Omnis quaerat ut iste commodi fugiat architecto quis.</p>

            
    </div>

</div>
