<div class="main-content">
    {{>sidebar}}
    <div class="primary">
        <div class="lists lists-tech">
            <div class="lists-caption">
                <h2>Tech Collection</h2>
                <p>Best of all technology-related products.</p>
            </div>
        </div>
        <div class="lists lists-accessory">
            <div class="lists-caption">
                <h2>Gadget & Accessory Collection</h2>
                <p>Best of all phone and other Accessories.</p>
            </div>
        </div>
        <div class="lists lists-study">
            <div class="lists-caption">
                <h2>Study Tool Collection</h2>
                <p>Best of classroom tools.</p>
            </div>
        </div>
        <div class="lists lists-game">
            <div class="lists-caption">
                <h2>Game collection</h2>
                <p>gaming tech.</p>
            </div>
        </div>
        
    </div>
</div>